/*

ont-family: "Poppins", sans-serif;

*/

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #743399;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header img {
    vertical-align: middle;
}

header h1 {
    display: inline-block;
    margin: 0;
    padding-left: 10px;
    font-size: 24px;
    font-weight: 400;
}

nav {
    background-color: #4A90E2;
    margin-bottom: 20px;
    }

nav ul {
    list-style: none;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

nav ul li a.activo {
    background-color: #743399;
}

.foot {
    background-color: #743399;
    text-align: center;
    padding: 5px;
    margin-top: 50px;
    font-size: 14px;
    text-align: center;
    color: white;
}

nav ul li a.activo {
    background-color: #4c76a5;
}

.holder {
    max-width: 960px;
    margin: 0 auto;
}

h2 {
    color: #2e64a1;
    font-weight: 400;
  }

/* en el home */

  
  .bienvenidos {
    width: 75%;
    padding-right: 10px;
    box-sizing: border-box;
  }

  .columnas {
    display: flex;
    justify-content: space-between;
  }

  .contacto {
    width: 25%;
    text-align: center;
  }

  .contacto .cita {
    
    font-size: 20px;
    display: block;
    text-align: center;
  }
  
  .contacto {
    background-color: #d3d3d3; /* Color gris */
    width: 250px; /* Ajusta el ancho según sea necesario */
    padding: 20px;
    text-align: center;
    border-radius: 5px; /* Esquinas redondeadas (opcional) */
    font-family: Arial, sans-serif;
    overflow-wrap: break-word;
    word-break: break-all;
  }
  
  
  .contacto .email {
    font-size: 16px;
    text-align: center;
    display: block;
    margin: 6px 0;
  }

  /* publicados */

  .publicados_texto {
    width: 75%;
    padding-right: 10px;
    box-sizing: border-box;
  }
  
  .publicados {
    
    background-color: #743399;
    color: white;
    padding: 20px 0;    
    
    border: 3px solid black;
    border-radius: 10px;
    padding: 16px;
    margin: 16px 0;
    display: flex;
    gap: 32px;
    align-items: center;
  }
  
  .publicados .info h4 {
    color: white;
    font-weight: 300;
    font-style: italic;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 10px;
    margin-inline-start: 16px;
  }
  
  .publicados .info p {
    font-size: 13px;
    /* line-height: 19px; */
  }
  
  .publicados img {
    border-radius: 13px;
    display: block;
    max-width: 225px;
  }
  
  .publicados:nth-child(even) {
    flex-direction: row-reverse;
  }

  /* contacto */

  .form_contacto {
    display: flex;
    gap: 12px;
  }
  
  .form_contacto div {
    width: 100%;
  }
  
  .datos p {
    font-size: 14px;
  }
  
  .datos ul li {
    font-size: 13px;
  }
  
  .formulario p {
    display: flex;
  }
  
  .formulario p label {
    min-width: 80px;
  }

  .formulario p label {
    display: flex;
    align-items: center;
  }
  
  .formulario p:nth-child(4) {
    align-items: start;
  }
  
  .formulario textarea {
    resize: none;
    height: 150px;
  }

  .formulario textarea {
    resize: none;
    height: 150px;
    width: 100%; 
    box-sizing: border-box;
    max-width: 210px; 
}
  
  .formulario input[type="submit"] {
    background: #0d6efd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 16px;
    padding: 6px 20px;
    width: auto;
    position: relative;
    left: 5rem;
    cursor: pointer;
  }
  
  .formulario input[type="submit"]:hover {
    background-color: #743399;
  }
  
  